body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.button {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    transition: all 0.3s ease;
    width: 255px; 
    text-align: center;
}

.button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

#pay {
    background-color: #000000 ;
    color: white;
}

#install {
    background-color: #FFFFFF;
    color: white;
}

#cite {
    background-color: #FFDD2D;
    color: white;
}
